---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Zachary Cole, 21 y/o"
	pubDate={new Date('March 06 2025')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		I’m Zachary Cole! I’m a graphic and interactive design student at HACC, passionate about all 
		things creative. Whether it’s digital design, illustration, or hands-on projects, I love 
		bringing ideas to life.
	</p>

	<p>
		Outside of design, you’ll usually find me skateboarding, watching movies and TV, or diving 
		into comics. Creativity fuels everything I do, from experimenting with new art styles to 
		exploring storytelling through different mediums.
	</p>

	<p>
		I’m always looking for new ways to grow and push my creativity—whether that’s in design, 
		art, or anything in between.
	</p>
</Layout>
